/* ==UserStyle==
@name           CM Series Chess Set 3D
@author         agiota_do_artenio
@namespace      ChessSkins
@description    `pieces for chess.com.`
@version        1.0.0
@license        NO-REDISTRIBUTION
@preprocessor   stylus
@var    select      myBoard    "Escolher tabuleiro" {
            "Caspian": "op1",
            "Madeira": "w01",
            "Madeira escura*": "w01Dark",
            "Mad. vermelha": "w02",
            "Desativado": "op0",
        }

@var    select      myPieces    "Escolher Peças"{
            "Caspian": "op1",
            "PL Metalic": "op2",
            "Marshall": "op3",
            "Marshall escuro": "op4",
            "Kingsway": "op5",
            "Desativado": "op0",
        }

@var    select      setHighLight    "Escolher de destaque"{
            "Predefinido*": "op1",
            "Escolher cores": "op2",
            "Desativado": "op0",
}

@var    color    userMoveCol  "cor do movim."   #ffea00ab
@var    color    userSelCol  "cor da sel."   #ffb833eb

@var    checkbox    setEvaluationBar "Barra de avaliação personalizada" 1
@var    checkbox    setArrows   "Modificar Setas" 0
@var    range    hueRotationArrow  "Tonalidade das setas" [15, 0, 355, 5, "deg"]
@var    range    arrowOpacity  "Opacidade das setas" [0.9, 0.3, 1, 0.1, ""]
@var    range    saturateArrow  "Saturação (setas)" [130, 0, 300, 5, "%"]
@var    range    brightnessArrow    "Brilho (setas)" [130, 5, 300, 5, "%"]

@var    checkbox    setPiecesColSettings "Habilitar cores extras das peças" 0

@var    range    brightnessB  "Brilho (pretas)" [100, 5, 300, 5, "%"]
@var    range    contrastB  "Contraste (pretas)" [100, 5, 300, 5, "%"]
@var    range    saturateB  "Saturação (pretas)" [100, 0, 300, 5, "%"]
@var    range    sepiaB  "Sepia (pretas)" [0, 0, 100, 5, "%"]
@var    range    hueRotationB  "Tonalidade (pretas)" [0, 0, 355, 5, "deg"]
@var    range    brightnessW    "Brilho (brancas)" [100, 5, 300, 5, "%"]
@var    range    contrastW  "Contraste (brancas)" [100, 5, 300, 5, "%"]
@var    range    saturateW  "Saturação (brancas)" [100, 0, 300, 5, "%"]
@var    range    sepiaW  "Sepia (brancas)" [0, 0, 100, 5, "%"]
@var    range    hueRotationW  "Tonalidade (brancas)" [0, 0, 355, 5, "deg"]

@var    checkbox    setServer   "Servidor: GitHub <--> GitLab" 0
==/UserStyle== */
@-moz-document domain("chess.com") {
    /*The beautify function may cause an error by joining the following variables into a single line.
    Just revert the changes to make it work again.*/
    
    /*primary server (GitHub)*/    
    gitHub = 'https://github.com/FSA1/Styles/raw/main/'
    
    /*alternative server (GitLab)*/
    gitLab = 'https://gitlab.com/FSA11/Styles/-/raw/main/'
		
    /*there is no error below*/
    if setServer {
        server = gitLab
    }else{
        server = gitHub
    }
    movTex=''
    if myBoard=="op1" {
        boardlink = server + "chessmaster/boards/caspian/caspian_dark.jpg"
        miniBoard = boardlink
        darkSqTex = ""
        lightSqTex = ""
        darksq=#947d59
        lightsq=#dcceb6
        hlcol=#b2e1bf40
        selcol=#86e0c0
        hlOpacity=.7
        //movTex=server + "chessmaster/boards/caspian/moveSquare2.png"
        hlBorderStyle=solid
        hlBorderCol=#9febb4
    }
    if myBoard=="w01" {
        boardlink = server + "latvian/boards/wood.jpg"
        miniBoard = server + "latvian/boards/mini/wood.jpg"
        darkSqTex = server + "latvian/boards/mini/w1evalB.png"
        lightSqTex = server + "latvian/boards/mini/w1evalW.png"
        darksq=#B07148
        lightsq=#c4a88a
        hlcol=#f2c246
        selcol=#7a8a27
    }
    if myBoard=="w01Dark" {
        boardlink = server + "latvian/boards/dark-wood2.jpg"
        miniBoard = server + "latvian/boards/mini/dark-wood.jpg"
        darkSqTex = server + "latvian/boards/mini/w2evalB.png"
        lightSqTex = server + "latvian/boards/mini/w2evalW.png"
        darksq=#7D5636
        lightsq=#bda489
        hlcol=#dd891b
        selcol=#778136
    }
    if myBoard=="w02" {
        boardlink = server + "latvian/boards/red-wood.jpg"
        miniBoard = server + "latvian/boards/mini/red-wood.jpg"
        darkSqTex = server + "latvian/boards/mini/w3evalB.png"
        lightSqTex = server + "latvian/boards/mini/w3evalW.png"
        darksq=#9f4f47
        lightsq=#d2a798
        hlcol=#ed6d31
        selcol=#495e23
    }
    /*Boards*/
    if myBoard!="op0" {
        /*Chessboard.board,*/
        .board-brown .cg-wrap,
        div[class^="daily-puzzle-board"],
        div[class^="board chessboard-component"],
        div[class^="board v-board chessboard-component"],
        div[class^="board rounded"],
        div[class^="board rounded fippled"],
        div[class^="board fippled rounded"],
        div[class^="board v-board rounded"],
        div[class^="board v-board fippled rounded"],
        div[class^="board disabled rounded"],
        div[id$="_ChessBoard_boardarea"],
        div[id^="chess_com_openingboard_1"],
        div[id^="board_training"],
        div[id^="divBoard_boardarea"],
        div[id^="chess_com_tactics_board"],
        div[id^="chessboard_"],
        div[id*="chessboard_"],
        div[id^="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentorboard_"],
        div[id*="chess_com_chessmentor_board_1_boardarea"],
        div[id^="chess_com_emailboard_"],
        div[id^="board-blank"],
        chess-board[class^="board"],
        chess-board[class^="board flipped"],
        chess-board[id^="board-blank"],
        chess-board[id^="board-vs-personalities"],
        div[id*="chess_com_emailboard_"] {
                background: url(boardlink) 0% 0% / 100% 100% no-repeat!important;
        }
        /*Evaluation bar*/
        if setEvaluationBar {
            .evaluation-bar-black {
                background: url(darkSqTex) 0% 0% / 100% 100% no-repeat !important;
                background-color: darksq !important;
                }
            .evaluation-bar-white {
                background: url(lightSqTex) 0% 0% / 100% 100% no-repeat !important;
                background-color: lightsq !important;
                }
        }
        /*Small board for game preview*/
        .game-preview-component.promo-preview,
        div [style*="40.png"][class="game-preview-component"],
        div [style*="40.jpg"][class="game-preview-component"] {
            background: url(miniBoard) 0% 0% / 100% 100% no-repeat !important;
        }
        /*------Coordinates------*/
        div.number.coords-light,
        div.letter.coords-light,
        text.coordinate-light {
            color: darksq!important;
            fill: @color;
        }
        div.number.coords-dark,
        div.letter.coords-dark,
        text.coordinate-dark {
            color: lightsq !important;
            fill: @color;
        }
        /*Highlight*/
        if setHighLight=="op1" {
            .move-square, 
            .highlight:not({notThisColors}) {
                background: url(movTex) 0% 0% / 100% 100% no-repeat !important;
                background-color: hlcol !important;
                border-style: hlBorderStyle !important;
                border-color: hlBorderCol !important;
                border-width: 6px !important;
                opacity: hlOpacity!important;
            }
            .selection-square
            {
                background-color: selcol !important;
                border-style: solid !important;
                border-color: #947d59c2 !important;
                border-width: 6px !important;
            }
        }else if setHighLight=="op2" {
            .move-square, 
            .highlight:not({notThisColors}) {
                background-color: userMoveCol !important;
            }
            .selection-square
            {
                background-color: userSelCol !important;
            }
        }

        /*Change Arrows colors*/
        if setArrows {
            .arrow {
                filter: hue-rotate(hueRotationArrow) brightness(brightnessArrow) saturate(saturateArrow)!important;
                -webkit-filter: @filter;
                -moz-filter: @filter;
                -o--filter: @filter;
                opacity: arrowOpacity !important;
            }
        }
    }/*End boards section*/
    
    /*Pieces*/
    /*fallback path for mini pieces*/
    pathWmini = pathW
    pathBmini = pathB
    if myPieces=="op1"{
		pathW = "chessmaster/pieces/3D/caspian/small/w"
		pathB = "chessmaster/pieces/3D/caspian/small/b"
        pathWmini = "chessmaster/pieces/3D/caspian/mini/w"
        pathBmini = "chessmaster/pieces/3D/caspian/mini/b"
    }
    if myPieces=="op2"{
		pathW = "chessmaster/pieces/3D/pl_metalic/w"
		pathB = "chessmaster/pieces/3D/pl_metalic/b"
    }
    if myPieces=="op3"{
		pathW = "chessmaster/pieces/3D/marshall/beige/w"
		pathB = "chessmaster/pieces/3D/marshall/blue/b"
    }
    if myPieces=="op4"{
		pathW = "chessmaster/pieces/3D/marshall/dark_beige/w"
		pathB = "chessmaster/pieces/3D/marshall/deep_blue/b"
    }
    if myPieces=="op5"{
		pathW = "kingsway/pieces/w"
		pathB = "kingsway/pieces/red/b"
    }
        mySelector = ':after'
    
    if myPieces !="op0" {
        .piece.bk{mySelector}, .promotion-piece.bk{mySelector}, div [style*="bk.png"] {
            background-image: url(server + pathB + "k.png")!important;
        }
        .piece.bq{mySelector}, .promotion-piece.bq{mySelector}, div [style*="bq.png"] {
            background-image:url(server + pathB + "q.png")!important;
        }
        .piece.bb{mySelector}, .promotion-piece.bb{mySelector}, div [style*="bb.png"] {
            background-image: url(server + pathB + "b.png")!important;
        }
        .piece.bn{mySelector}, .promotion-piece.bn{mySelector}, div [style*="bn.png"] {
            background-image: url(server + pathB + "n.png")!important;
        }
        .piece.br{mySelector}, .promotion-piece.br{mySelector}, div [style*="br.png"] {
            background-image: url(server + pathB + "r.png")!important;
        }
        .piece.bp{mySelector}, .promotion-piece.bp{mySelector}, div [style*="bp.png"] {
            background-image: url(server + pathB + "p.png")!important;
        }
        .piece.wk{mySelector}, .promotion-piece.wk{mySelector}, div [style*="wk.png"] {
            background-image: url(server + pathW + "k.png")!important;
        }
        .piece.wq{mySelector}, .promotion-piece.wq{mySelector}, div [style*="wq.png"] {
            background-image: url(server + pathW + "q.png")!important;
        }
        .piece.wb{mySelector}, .promotion-piece.wb{mySelector}, div [style*="wb.png"] {
            background-image: url(server + pathW + "b.png")!important;
        }
        .piece.wn{mySelector}, .promotion-piece.wn{mySelector}, div [style*="wn.png"] {
            background-image: url(server + pathW + "n.png")!important;
        }
        .piece.wr{mySelector}, .promotion-piece.wr{mySelector}, div [style*="wr.png"] {
            background-image: url(server + pathW + "r.png")!important;
        }
        .piece.wp{mySelector}, .promotion-piece.wp{mySelector}, div [style*="wp.png"] {
            background-image: url(server + pathW + "p.png")!important;
        }
        /*pieces for mini-boards*/
        img[src*="bk.png"] {
            content: url(server + pathBmini + "k.png")!important;
        }
        img[src*="bq.png"] {
            content:url(server + pathBmini + "q.png")!important;
        }
        img[src*="bb.png"] {
            content: url(server + pathBmini + "b.png")!important;
        }
        img[src*="bn.png"] {
            content: url(server + pathBmini + "n.png")!important;
        }
        img[src*="br.png"] {
            content: url(server + pathBmini + "r.png")!important;
        }
        img[src*="bp.png"] {
            content: url(server + pathBmini + "p.png")!important;
        }
        img[src*="wk.png"] {
            content: url(server + pathWmini + "k.png")!important;
        }
        img[src*="wq.png"] {
            content: url(server + pathWmini + "q.png")!important;
        }
        img[src*="wb.png"] {
            content: url(server + pathWmini + "b.png")!important;
        }
        img[src*="wn.png"] {
            content: url(server + pathWmini + "n.png")!important;
        }
        img[src*="wr.png"] {
            content: url(server + pathWmini + "r.png")!important;
        }
        img[src*="wp.png"] {
            content: url(server + pathWmini + "p.png")!important;
        }

    /*------Blend, hue and shadow------*/
    if setPiecesColSettings {
        .king.black,
        .piece.bk,
        .promotion-piece.bk,
        div [style*="bk.png"],
        .queen.black,
        .piece.bq,
        .promotion-piece.bq,
        div [style*="bq.png"],
        .bishop.black,
        .piece.bb,
        .promotion-piece.bb,
        div [style*="bb.png"],
        .knight.black,
        .piece.bn,
        .promotion-piece.bn,
        div [style*="bn.png"],
        .rook.black,
        .piece.br,
        .promotion-piece.br,
        div [style*="br.png"],
        .pawn.black,
        .piece.bp,
        .promotion-piece.bp,
        div [style*="bp.png"] {

                filter: sepia(sepiaB) hue-rotate(hueRotationB) brightness(brightnessB) saturate(saturateB) contrast(contrastB) !important;
                -webkit-filter: @filter;
                -moz-filter: @filter;
                -o-filter: @filter;
        }
        .king.white,
        .piece.wk,
        .promotion-piece.wk,
        div [style*="wk.png"],
        .queen.white,
        .piece.wq,
        .promotion-piece.wq,
        div [style*="wq.png"],
        .bishop.white,
        .piece.wb,
        .promotion-piece.wb,
        div [style*="wb.png"],
        .knight.white,
        .piece.wn,
        .promotion-piece.wn,
        div [style*="wn.png"],
        .rook.white,
        .piece.wr,
        .promotion-piece.wr,
        div [style*="wr.png"],
        .pawn.white,
        .piece.wp,
        .promotion-piece.wp,
        div [style*="wp.png"] {
                filter: sepia(sepiaW) hue-rotate(hueRotationW) brightness(brightnessW) saturate(saturateW) contrast(contrastW) !important;
                -webkit-filter: @filter;
                -moz-filter: @filter;
                -o-filter: @filter;
        }
    }
        
    }       
}